.Question{
    width: 532px;
height: 38px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 19px;

color: #000000;

}

.Date{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */
color: #6B6B7E;
}

.Noa{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */
color: #6B6B7E;
}

.Noi{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */
color: #6B6B7E;
}

.Tag{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */
color: #6B6B7E;
}