.Question{
    width: 532px;
height: 38px;


font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 19px;

color: #000000;

}

.Date{
    
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */
color: #6B6B7E;
}

.Noa{
    
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */
color: #6B6B7E;
}

.Noi{
    
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */
color: #6B6B7E;
}

.Tag{
    
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */
color: #6B6B7E;
}

.AnswerQuestion{
    
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 15px;

color: #FBAB7E;
}

.Divider{
    width: 1200px;
height: 0px;
margin-left: 20%;
margin-top: 2%;
border: 1px solid #6B6B7E;
transform: rotate(-0.08deg);
}